@import "tailwindcss";

@theme {
  --color-primary-red: #c22328;
  --color-secondary-black: #0B0A0A;
  --color-tertiary-white: #D9D9D9;
}



* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'AkiraExpanded';
  src: url('/static/fonts/Akira Expanded Demo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


.akira {
  font-family: 'AkiraExpanded' , sans-serif;
}

/* index.css */
@utility oswald-extralight {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}
@utility oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
@utility oswald-regular {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
@utility oswald-medium {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
@utility oswald-semibold {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
@utility oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
@keyframes infinite-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll-left {
  animation: infinite-scroll-left 20s linear infinite;
}

.webkit-checkbox {
  -webkit-appearance: none;  /* Remove default style */
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-color: #D9D9D9;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

/* Checkmark animation */
.webkit-checkbox:checked {
  background-color: transparent;
}

.webkit-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  border-left: 3px solid #c22328;
  border-bottom: 3px solid #c22328;
  transform: translate(-50%, -60%) rotate(-45deg) scale(1);
  transform-origin: center;
  transition: all 0.3s ease;
}

/* Unchecked state hides checkmark */
.webkit-checkbox::after {
  transform: translate(-50%, -60%) rotate(-45deg) scale(0);
  transition: all 0.3s ease;
}

